<tr>
    <td class="item-action">
      <a href="form_palestras.php?action=editar&id={{id}}">
        <img
          class="icon"
          src="../../img/edit-svgrepo-com.svg"
          alt="Delete action"
        />
      </a>
    </td>
    <td class="actions">
      <a href="lista_palestras.php?action=deletar&id={{id}}">
        <img
          class="icon"
          src="../../img/delete-svgrepo-com.svg"
          alt="Edit action"
        />
      </a>
    </td>
    <td>{{id}}</td>
    <td>{{name}}</td>
    <td>{{palestrante}}</td>
    <td>{{inicio}}</td>
    <td>{{fim}}</td>
</tr>